body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
}

.sidebar {
  width: 220px;
  background: #3e2723;
  color: white;
  height: 100vh;
  position: fixed;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 12px;
  text-decoration: none;
  margin: 10px 0;
  border-radius: 6px;
}

.sidebar a:hover {
  background: #6d4c41;
}

.main {
  margin-left: 240px;
  padding: 30px;
}
